<!DOCTYPE html>
<html lang="en">
<head>
    <!--Устанавливаем кодировку документа-->
    <meta charset="UTF-8">
    <!--name=viewport - сообщаем браузеру какой тип информации хотим сохранить, в навшем случае - адаптивн. разметка-->
    <!--Оптимизация страницы для просмотра на любом устройства, хорошо работает на телефоне-->
    <!--Width определяет размер окна просмотра, сложный параметр, углубиться позже-->
    <!--initial scale устанавливает первоначальный масштаб веб-страницы. У нас 1.0 == 100%-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Мета тег, задающий параметры отображения EI в зависимости от параметра content. Возможно стоит убрать.-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page / Test page</title>
</head>
<body>
    <!-- Заголовки уровня важности h1--h6-->
    <h1>Hello World.</h1>
    <h2>Just a simple text for example.</h2>
    <h2>Тест передачи шаблонов пользователю от Django:</h2>
    <h3>
        <!--p - блочный элемент начинающийся с новой строки, разделяется локально отбивкой-->
        <!--Передача значений переменных из приложения(view/въюха) в ШАБЛОН (index.html)-->
        <!--ФигСкобкафигСкобка %имя_переменной% СкобкаСкобка - конструкция передачи переменной из приложения в шаблон-->
        <!--Определение генератора для обработки списка передаваемых переменных: -->
        <!--Любая обработка выражений (в нашем случае - цикл), обрабатывается как: -->
        {% for name in names %}
        <!--Для каждой переменной в names и пошло поехало, как в py, примерно-->
            <p>
                {{ name }}
            </p>
        <!--Показываем шаблонизатору Django что цикл по обработке списка завершен-->
        {% endfor %}
    </h3>
</body>
</html>
<!--Оставляем только частности, уникальные содержим[ые] каких-либо страниц блога-->

<!--Для того чтобы видеть базовые шаблоны, расширяем шаблон-->
{% extends 'blog/blog_foundation.html'%}

<!--Теперь дублируем блоки "частностей" из шаблона blog_foundation.html-->
{% block title %}
Blog Source
{% endblock %}

<!--Переносим сюда, к примеру, обработку списка в цикле и т.п.-->
{% block content %}
    <!--Заголовок обработки-->
    <h1 class="mb-4">Post's: </h1>
    {% for post in posts %}
        <!-- mb-4 - сделаем отступ между постами-->
        <div class="card mb-4">
            <div class="card-header">
                <!--Определим здесь дату публикации каждого поста-->
                {{ post.publication_date }}
            </div>
            <div class="card-body">
                <!--Определим заголовок ПОСТА (не обработки постов)-->
                <h5 class="card-title">{{ post.title }}</h5>
                <!--Определим заполнение (текст) поста.-->
                <!--truncatewords:len - фильтр, обрезающий текст до len длинны-->
                <p class="card-text">{{ post.body|truncatewords:15 }}</p>
                <!--Название кнопки read-->
                <!--Так же указываем здесь явное имя ссылки на прочтение уникального поста...-->
                <!--Определнное в модуле urls.py приложения blog-->
                <!--Так же явно указываем, что на каждую итерацию post нашего цикла попадает переменная slug.-->
                <a href="{% url 'post_detail_url' slug=post.slug %}" class="btn btn-secondary">Read</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

