{% extends 'base.html' %}

{% block title %}
    {{ tag.title }} - {{ block.super }}
{% endblock %}


{% block content %}
    <!--С помощью фильтра title отображаем теги с заглавной.-->
    <h1 class="mb-5">Post with "{{ tag.title|title }}" tag:</h1>

    <!--Список используемых постов берем из тега (manytomany?)-->
    {% for post in tag.posts.all %}
        <!--С помощью функции include обращаемся в шаблону "карточек"-->
        {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}
{% endblock %}